body {
    margin: 0px;
    font-family: "Roboto";
    display: flex;
    padding: 0px;
    flex-direction: column;
    min-height: 100dvh;
}

p {
    margin: 0;
}

.container {
    flex: 1;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 20px 360px;         
    
}

.header-right {
    align-items: center;
    display: flex;
    gap: 20px;
}

.header-right a {
    text-decoration: none;
    color: white;
}

.header-left {
    flex: 1;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
}

.hero {
    display: flex;
    background-color: #1F2936;
    color: white;
    justify-content: center;
    padding: 200px 0px;
}

.hero-left {
    text-wrap: wrap;    
    flex: 0 0 auto;
    flex-basis: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    padding: 6px 18px;
    font-weight: 700;
    text-decoration: none;
}

.hero-right {
    display: flex;
    margin-left: 48px;
}
.hero-img {
    border-radius: 12px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 800px;
    text-align: center;
}

.quote-author {
    font-weight: 700;
    align-self: flex-end;
    font-size:  24px;
    font-style: normal;
}

.info {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.info-header {
    padding: 50px 0px;
    font-weight: 900;
    font-size: 36px;
}

.info-chars {
    display: flex;
    gap: 50px;
}

.info-char {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 168px;
}
.info-char img {
    border: 5px solid #3882F6;
    border-radius: 12px;
    display: flex;
    margin-bottom: 6px;
}

.call-to-action {
    padding: 100px 150px;
    display: flex;
    justify-content: center;
}

.call-banner {
    background-color: #3882F6;
    color: white;
    padding: 60px 150px;
    display: flex;
    border-radius: 16px;
    gap: 200px;
}

.call-main-text {
    font-size: 32px;
    font-weight: 700;
}

.call-secondary-text {
    font-size: 24px;
    font-weight: 300;
}

.call-banner-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.call-banner-right a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 12px;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    display: flex;
    padding: 50px;
    color: white;
    justify-content: center;
    
}